<p>home works!</p>


<ul>
    <li>
        <button mat-raised-button (click)="openDialog()">View Campaigns</button>
    </li>
    <li>
        <button>New Campaign</button>
    </li>
</ul>

<!-- <ul>
    <li>
        <a [routerLink]="['/view', '1']" routerLinkActive="active">View Campaigns</a>
    </li>
    <li>
        <a ></a>
    </li>
</ul> -->


<!-- campaign list thing -->

<!-- <div style="display: flex; justify-content: space-evenly;">
    <ul style="flex-grow: 1;" class="Campaign">
        <li *ngFor="let campaign of campaigns">
            <button (click)="onSelect(campaign)">{{campaign.id}}: {{campaign.name}}</button>
        </li>
    </ul>
</div> -->