<!--<div style="display:flex; flex-direction: column; ">-->
<!--  <h1 style="text-align:center">{{title}}</h1>-->
<!--  <router-outlet></router-outlet>-->
<!--</div>-->



<div #map>
  <svg-container [viewBox]="viewBox" containerId="map" [height]="2000">
    <svg-polygon *ngFor="let hexagon of hexagonList"
                 [borderColor]="hexagon.borderColor"
                 [fill]="hexagon.fill"
                 [points]="hexagon.points"
                 (clickEvent)="onClick(hexagon)"
                 (mouseOverEvent)="mouseOver(hexagon)"
                 (mouseOutEvent)="mouseOut(hexagon)">
    </svg-polygon>
  </svg-container>
</div>

