<!--<div style="display:flex; flex-direction: column; ">-->
<!--  <h1 style="text-align:center">{{title}}</h1>-->
<!--  <router-outlet></router-outlet>-->
<!--</div>-->
<div style="display: flex; flex-direction: row; height:100px; padding: 20px;">

  <button mat-raised-button color="primary" style="flex: 1; padding: 0px 10px"
          [disabled]="!createMode()"
          (click)="acceptShape()">
    Accept Shape
  </button>

  <div
    style="flex: 5; display: flex; flex-direction: column; justify-content: flex-end; align-content: center; padding: 0px 10px">
    <p *ngIf="editMode()" style="flex: auto;">{{currentTerritory.name}}</p>
    <mat-progress-bar style="flex: auto;" [mode]="progressMode" [value]="editPercent"
                      [bufferValue]="100"></mat-progress-bar>
  </div>

  <div
    style="flex: 1; display: flex; flex-direction: column; justify-content: flex-end; align-content: center; padding: 0px 10px">
    <button mat-raised-button color="primary" style="flex: auto;">Save</button>
    <button mat-raised-button color="warn" style="flex: auto;">Refresh</button>
  </div>

</div>

<svg-container [viewBox]="viewBox" containerId="map" [height]="height">
  <svg-polygon *ngFor="let hexagon of hexagonList"
               [borderColor]="hexagon.borderColor"
               [fill]="hexagon.fill"
               [points]="hexagon.points"
               (clickEvent)="onClick(hexagon)"
               (mouseOverEvent)="mouseOver(hexagon)"
               (mouseOutEvent)="mouseOut(hexagon)">
  </svg-polygon>
</svg-container>


